# OS files
.DS_Store

# Project files
doc/
slides/

# Snapshots
archive/

# Python files, psychopy files, iohub files
*.pyc
*.pickle
.iohpid

# R files
.Rhistory
.Rproj.user/

# Vim files
*.swp
*~
